# uv specific
.venv/
.pdm-build/

# Python byte-code / optimized / compiled
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/